<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>User Study</title>
  <script>
    var username = '{{username|safe}}'
    //getElementsByName("FirstName")
    //getElementsByName("SecondName")
    console.log(username);
    function next(choice){
    window.location.href = '?username='+username+'&page='+ ({{page}}+1) +'&choice='+choice;
}
  </script>

</head>

<body>
    <h1>User Study</h1>

  <div>
    <table>
      <tr>
        <td colspan="2" align="center">
<img  src="{{images[0]}}"></img>
</td>
</tr>
<tr>
  <td colspan="2" align="left">
  <h4>
    Click on one of the two pictures below which is closer to the above one:
  </h4>
</td>
  </tr>
<tr>
  <td>
<img  onclick="next(1)" src="{{images[1]}}"></img>
</td>
<td>
<img  onclick="next(2)" src="{{images[2]}}"></img>
</td>
</tr>
</table>
  </div>
</body>
</html>
