<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Query Page</title>
  <script>
    var eq = '{{eq|safe}}';
    var totalnum = '{{totalnum|safe}}';
    var options = [];
    for (var i = 1; i <= parseInt(totalnum); i++) {
      options.push(i);
    }

    var select = document.getElementById("selectNumber");
    for(var i = 0; i < options.length; i++) {
      var opt = options[i];
      var el = document.createElement("option");
      el.textContent = opt;
      el.value = opt;
      select.appendChild(el);
}

  </script>

</head>

<body>
    <h1>Query</h1>
  <table>
    <tr>
    <select id="selectNumber">
      <option value = None>Choose a number</option>
    </select>
    </tr>


  </table>

</body>
</html>
